{% set pageTitle = 'Будильники' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="alarms"></div>
    </section>

{% endblock %}
