{% set pageTitle = 'Список автобусов' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="buses"></div>
    </section>

{% endblock %}