{% set pageTitle = 'Дополнительные возможности' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="extras"></div>
    </section>

{% endblock %}