{% set pageTitle = 'Расчетные листки' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="payslips"></div>
    </section>

{% endblock %}