{% set pageTitle = 'Список телефонных номеров' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="phones"></div>
    </section>

{% endblock %}