{% set pageTitle = 'Редактировать профиль' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="edit-profile"></div>
    </section>

{% endblock %}