{% set pageTitle = 'Отчеты и статистика' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="reports"></div>
    </section>

{% endblock %}