{% set pageTitle = 'Работа' %}
{% set hasButtons = true %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div id="root" data-react-component="screens"></div>
    </section>

{% endblock %}