{% set pageTitle = 'Список расписаний' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <section class="section">
        <div class="root" data-react-component="timetables"></div>
    </section>

{% endblock %}